<html>
    {%include 'header_admin.html'%}
    {%load bootstrap5%}
    <div class="container-fluid">
        <div class="row flex-nowrap">
            {%include 'sidebar.html'%}
            <main class="col d-flex py-3">
                <div class="container">
                    <h3>Participantes</h3>
                    <div class="row align-items-center mt-2 mb-2">
                        <div class="col p-0">
                            <form method="get" class="p-0 m-0" action="{% url 'adminParticipante' %}">
                                <div class="input-group">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-primary me-2">Buscar</button>
                                    </div>
                                    <input type="text" class="form-control" name="filter" placeholder="Nome">
                                </div>
                            </form>
                        </div>
                        <div class="col col-auto p-0 ps-2 d-flex justify-content-end">
                            <a type="button" class="btn btn-success" href="cadastrar">Novo</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="table-responsive border" style="height: 20em;overflow-y: auto;">
                            <table class="table">
                                <tr>
                                    <th>#</th>
                                    <th>Nome</th>
                                    <th>Sobrenome</th>
                                    <th>CPF</th>
                                    <th>Operações</th>
                                </tr>
                                {%for participante in participantes%}
                                <tr>
                                    <td>{{participante.id}}</td>
                                    <td>{{participante.nome}}</td>
                                    <td>{{participante.sobrenome}}</td>
                                    <td>{{participante.CPF}}</td>
                                    <td>
                                        <form method="POST" class="p-0 m-0" action="{% url 'adminParticipante' %}">
                                            {% csrf_token %}   
                                            <button type="submit" class="btn btn-danger" alt="Apagar"><i class="bi bi-trash"></i></button>
                                            <input type="hidden" class="form-control" name="pk_participante" value="{{participante.id}}">
                                            <a href="{% url 'adminEditarParticipante' pk=participante.id %}" class="btn btn-warning" alt="Editar"><i class="bi bi-pencil-square"></i></a>
                                        </form>
                                    </td>
                                </tr>
                                {%endfor%}
                            </table>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</html>