<html>
    {%include 'header_admin.html'%}
    {%load bootstrap5%}
    <div class="container-fluid">
        <div class="row flex-nowrap">
            {%include 'sidebar.html'%}
            <main class="col d-flex py-3">
                <div class="container">
                    <h3>Exibição</h3>
                    <div class="row align-items-center mt-2 mb-2">
                        <div class="col p-0">
                            <form method="get" class="p-0 m-0 w-100" action="{% url 'adminExibicao' %}">
                                <div class="input-group">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-primary me-2">Buscar</button>
                                    </div>
                                    <input type="text" class="form-control" name="filter" placeholder="Tópico">
                                    <div class="col-auto ps-2">
                                        <select class="form-select" name="event" id="event">
                                            <option value="-1" selected>Todos Eventos</option>
                                            {%for evento in eventos%}
                                                <option value="{{evento.id}}" >{{evento.tema|slice:":30"}}</option>
                                            {%endfor%}
                                            
                                        </select>
                                    </div>
                                    <div class="col-auto ps-2">
                                        <select class="form-select" name="filter_by" id="filter_by">
                                            <option value="id" selected>Minhas Exibições</option>
                                            <option value="all">Todas Exibições</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-auto p-0 ps-2 d-flex justify-content-end">
                            <a type="button" class="btn btn-success" href="cadastrar">Novo</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="table-responsive border" style="height: 20em;overflow-y: auto;">
                            <table class="table">
                                <tr>
                                    <th>#</th>
                                    <th>Tópico</th>
                                    <th>Operações</th>
                                    <th>Visualizar</th>
                                </tr>
                                {%for exibicao in exibicoes%}
                                <tr>
                                    <td>{{exibicao.id}}</td>
                                    <td><a href="{% url 'adminVisualizarExibicao' pk=exibicao.id %}">{{exibicao.topico}}</a></td>
                                    <td>
                                        <form method="POST" class="p-0 m-0" action="{% url 'adminExibicao' %}">
                                            {% csrf_token %}   
                                            <button type="submit" class="btn btn-danger" alt="Apagar"><i class="bi bi-trash"></i></button>
                                            <input type="hidden" class="form-control" name="pk_exibicao" value="{{exibicao.id}}">
                                            <a href="{% url 'adminEditarExibicao' pk=exibicao.id %}" class="btn btn-warning" alt="Editar"><i class="bi bi-pencil"></i></a>
                                        </form>
                                    </td>
                                    <td>
                                        <a href="{% url 'adminVisualizarExibicao' pk=exibicao.id %}" class="btn btn-success" alt="Visualizar"><i class="bi bi-eye"></i></a>
                                    </td>
                                </tr>
                                {%endfor%}
                            </table>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</html>